.weather-city {
    color: #15181b;;
    text-align: center;
}

.weather-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3080d1;
}

.weather-top img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.weather-condition {
    color: #03060a;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-align: center;
}

/* weather details */

.weather-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}

.detail-item{
    background-color: #3080d1;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #15181b;
}