* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(at 100% 100%, rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));

}